<%- include('./partials/header.ejs')
    <main>
        <section>
            <div class>
                <img src="imges/quiz.gif" alt="quiz">
            </div>
            
        <div>
            <% if (tests.length > 0) { %>
            <% tests.forEach(test => { %>
            <b><%= test.question %></b>
            <ol>
                <li><i><%= test.answer1 %></i></li>
                <li><i><%= test.answer2 %></i></li>
                <li><i><%= test.answer3 %></i></li>
                <li><i><%= test.answer4 %></i></li>
            </ol>
            <% }) %>
            <% } else { %>
            <p>No se han encontrado preguntas</p>
            <% } %>
        </div>
        </section>
    </main>
<%- include('./partials/footer.ejs')
